<div class="container">
    <div class="profile">
        <div class="row">
          
            <!-- FRIENDS -->
            <div class="column-md-4" id="followers">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                <div class="card-title">Friends</div>
                  <ul class="list-group list-group-flush">
                  <% for friendship in @user.friendships %>
                    <li class="list-item">
                      <%=h link_to friendship.friend.Username, user_path(friendship.friend.id) %>
                      
                      <% if user_signed_in? && @user.id == current_user.id %>
                      
                      (<%= link_to "remove", friendship, :method => :delete %>)
                      
                      <% end %>
                      
                    </li>
                  <% end %>
                </ul>
                <!-- FRIENDS -->
                <!-- FRIENDED BY -->
                <br>
                <div class="card-title">Friended by Users</div>
                <ul class="list-group list-group-flush">
                  <% for user in @user.inverse_friends %>
                    <li class="list-item">
                      <%=h link_to user.Username,  user_path(friendship.friend.id)%>
                    </li>
                  <% end %>
                </ul>
                <!-- FRIENDED BY -->
            </div>
            </div>
            </div>
            
            <!--PROFILE-->
            <div class="column-md-4" id="profile">
            <div class="card" id="profile-card">
                <%= image_tag "placehold.gif", :class => "card-img-top", :size => '200x200' %>
                <div class="card-body">
                <h5 class="card-title"><%= @user.Username %></h5>
                <p class="card-text"><%= @user.Bio %></p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: <%= mail_to @user.email %></li>
                <li class="list-group-item">Education: <%= @user.Education %></li>
                <li class="list-group-item">Profession: <%= @user.Profession %></li>
                <li class="list-group-item">Location: <%= @user.Location %></li>
                
                 <% if user_signed_in? && @user.id != current_user.id %>
 
                <li class="list-group-item"><%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %></li>
                
                <% end %>
                
                </ul>
                </div>
            </div>
            <!--PROFILE-->
            
            <!--RECENTLY POSTED-->
            <div class="column-md-4" id="recent-user-posts">
            <div class="card" style="width: 18rem;">
            <div class="card-title">
                Recently Posted
            </div>
            <ul class="list-group list-group-flush">
            <% @user_post.each do |post| %> 
                    <li class="list-group-item"><%= link_to post.title, post_path(post.id) %>
                    <%= time_ago_in_words(post.created_at) %> ago
     
                    <% if user_signed_in? && post.user_id == current_user.id %>
                    <br>
                    <%= link_to 'Edit', edit_post_path(post) %>
                    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>    
                    
                    <% end %>
                    </li>
                    <% end %>
                  </ul>
                </div>
            </div>
            <!--RECENTLY POSTED-->

        </div>
    </div>
</div>