<div class="container">
    <div class="profile">
        <div class="row">
            <div class="column-md-4">
                <h3>Followers</h3>
            </div>
            <div class="column-md-4">
                <h3>Username: <%= current_user.Username %></h3>
                <h3>Email: <%= current_user.email %></h3>
                <h3>Education: <%= current_user.Education %></h3>
                <h3>Profession: <%= current_user.Profession %></h3>
                <h3>Location: <%= current_user.Location %></h3>
                <h3>Biography: <%= current_user.Bio %></h3>
            </div>
            <div class="colum-md-4">
            <h1>Users Posts: </h1>
            <% @user_post.each do |post| %> 
                <h3><%= post.title %></h3>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
        </div>
    </div>
</div>