<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://projectfinder-mileswinston23.c9users.io">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <% if !user_signed_in? %>
      
      <li class="nav-item">
        <a><%= link_to "Sign In", "http://projectfinder-mileswinston23.c9users.io/users/sign_in", :class => "nav-link" %></a>
      </li>
      
      <% else %>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://projectfinder-mileswinston23.c9users.io/users/<%= current_user.id %>">My Profile</a>
          <a><%= link_to 'Create Post', new_post_path, :class => "dropdown-item" %></a>
          <a class="dropdown-item" href="https://projectfinder-mileswinston23.c9users.io/users/edit">Settings</a>
          <div class="dropdown-divider"></div>
          <a><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "dropdown-item" %></a>
        </div>
      </li>
      
      <% end %>
    </ul>
    <!--SEARCH-->
    <%= link_to "Advanced Search", new_search_path, :class => "nav-link" %>
    <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
    <!--SEARCH-->
  </div>
</nav>  
  
