<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    
    <a class="navbar-brand" href="http://projectfinder-mileswinston23.c9users.io">Project Finder</a>
    
      <%= link_to "Sign In", "http://projectfinder-mileswinston23.c9users.io/users/sign_in" %>
      <%= link_to "Sign Up", "http://projectfinder-mileswinston23.c9users.io/users/sign_up" %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

    
    <form class="form-inline" id="Search">
      
    <%= link_to "Advanced Search", new_search_path, :style => "margin-right: 20px" %>
    
    <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>

  </form>
</nav>




<%= yield %>

</body>
</html>
